
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&family=Roboto+Mono:wght@300;600&display=swap');

.custom-body{
    background-color: black;
}
main{
   margin-top: 150px;
    
}
.display-1{
    font-family: 'Nunito Sans', sans-serif;
    color:linear-gradient(195deg,#0871e9,rgb(40, 103, 158) );
}
.form1{
    margin-top: 100px;
}
.firstCard{
    background: linear-gradient(195deg,#2274D4,black 80%);
    border-radius: 1rem;
    height: 25rem;
    width: 33rem;      
    }


#didYouKnow{
    font-size: 34px;
    margin-bottom: 20px;
    color: rgb(255, 129, 57);

}



.home-heading{
    /*font-family: 'Nunito Sans', sans-serif;*/
   font-family: 'Roboto Mono', monospace;
    font-size: 50px;
    font-weight:700px;
    line-height: 74px;

   
}


@media (max-width:760px) {
    .home-heading{
        /*font-family: 'Nunito Sans', sans-serif;*/
       font-family: 'Roboto Mono', monospace;
        font-size: 40px;
        font-weight:700px;
        line-height: 3rem;
        text-align:center;
    }


    .form2{
      
       align-items: center;
    }
}

.home-span{
    color:rgb(255, 129, 57)
}

.card-product{
    padding: 10px;
    background-color:#242324 !important ;
}

.card-text{
    color:black;
    font-size: 1rem;
    border-top: 1px solid rgb(255, 129, 57);
    border-bottom: 1px solid rgb(255, 129, 57);
}

#inputYear,#inputSemester{
    width: 50px !important;
}

#inputYear::-webkit-inner-spin-button,#inputSemester::-webkit-inner-spin-button{
    display: none;
}

.school{
   
    background-image: url("img/Img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;

  }

.spiritual{
    background-image: url("img/download.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;


}
.business{
    background-image: url("img/motivation.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.wellbeing{
    background-image: url("img/motivation-768x426.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

#nav-tab{
  display: flex;
  justify-content: center;
}

.slider-navbar {
  width: 100%;
  height: 50px;
  overflow-x: scroll;
  white-space: nowrap;
}

.slider {
  display: inline-flex;
  height: 100%;
  padding: 5px;
  cursor: grab;
  
}

.slider:active {
  cursor: grabbing;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

  